#* {
	margin: 0 auto;
	padding: 0;
}
#menu {
	width: 100%;/*50%;*/
	margin: 0 auto;
	text-align: center;
	/*background: #fac333;*/
}
#menu ul {
	list-style-type: none;
	/*font-size: 1em;*/
}
#menu li a {
	display: block;
}
#menu > ul li {
	display: inline-block;
	position: relative;
	/*background: #fac333;*/
}
#submenu {
	display: none;
	position: absolute;
	background: #BDD072;/*#fac111;*/
}
#submenu a {
	font-size: 0.7em;
	display: block;
}
#submenu a:hover {
background-color: #f5f5f5;
}
#menu > ul li:hover ul {
	display:block;
}
#submenu > li:hover {/*highlight on mouse over*/
	background-color:#BDDAAA;
}